<?xml version="1.0"?>
<phpunit bootstrap="./bootstrap.php" colors="true" beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="Stefano Image Tests">
            <directory>./StefanoImageTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>    
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./temp/codeCoverage" lowUpperBound="50" highLowerBound="90"/>
        <log type="coverage-clover" target="./temp/clover.xml"/>
    </logging>
</phpunit>
